{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>IdPatient</th>
                <td>{{ patient.idPatient }}</td>
            </tr>
            <tr>
                <th>NomP</th>
                <td>{{ patient.nomP }}</td>
            </tr>
            <tr>
                <th>PrenomP</th>
                <td>{{ patient.prenomP }}</td>
            </tr>
            <tr>
                <th>Email_P</th>
                <td>{{ patient.emailP }}</td>
            </tr>
            <tr>
                <th>NumTelP</th>
                <td>{{ patient.numTelP }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_patient_index') }}">back to list</a>

    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
