{% extends 'base.html.twig' %}
{% block html %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block css %}
{{ parent() }}
    <link href="{{asset('https://fonts.googleapis.com/css?family=Roboto&display=swap')}}" rel="stylesheet" />
    <link href="{{asset('https://fonts.googleapis.com/css?family=Segoe+UI+Emoji&display=swap')}}" rel="stylesheet" />
    <link href="{{asset('css/main.css')}}" rel="stylesheet" />
    <style>
 body {
 font-family: 'Nunito', sans-serif;
  background-color: #f8f9fa;
 margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
    }

 .site-wrap {
 min-height: 100vh; /* Set minimum height to full viewport height */
  display: flex;
  flex-direction: column;
 }

 .site-footer {
 margin-top: auto; /* Push footer to the bottom */
   }
.center-container {
 flex: 1; /* Allow the center container to take up remaining space */
 display: flex;
  justify-content: center;
     align-items: center;
                }

.form-container {
                  max-width: 600px;
                  width: 100%;
                  padding: 20px;
                  background-color: #ffffff;
                  border-radius: 10px;
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
 </style>
{% endblock %} 
</head>
{% block title %}Patient{% endblock %}

{% block body %}
<div class="site-wrap">
{% block navbar %}
{{parent()}}
{% endblock %}
<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> 
            <strong class="text-black">Cart</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="title-section text-center col-12 mt-5 mb-3">
        <h2>Informations du <strong class="text-primary">patient</strong></h2>
    </div>
    <div class="center-container">
    <div class="form-container mt-3 mb-3">
    <div class="container">

    <table class="table" style="margin-top:50px;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.getIdPatient() }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenomP }}</td>
            </tr>
             <tr>
                <th>Nom</th>
                <td>{{ patient.nomP }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ patient.emailP }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ patient.numTelP }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
        <div class="center-container">
            <div class="row mb-5 mt-3" >
                    <a class="btn btn-primary" style="margin-right:10px;" href="{{ path('app_patient_edit', {'id': patient.getIdPatient()}) }}">Modifier</a>
                    {{ include('patient/_delete_form.html.twig') }}
                    <a href="{{ path('app_patient_index') }}" class="btn btn-outline-primary">Retourner</a>
            </div>
        </div>
    

    
{% block footer %}
{{ parent() }}
</div>
{% endblock %}
{% endblock %}
</html>
{% endblock %}
