{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ form_widget(form) }}
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-primary btn-md btn-block">{{ button_label|default('Ajouter produit') }}</button>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-primary btn-md btn-block" href="{{ path('app_produit_index') }}">Annuler</a>
            </div>
        </div>
    </div>
{{ form_end(form) }}
