<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
    <meta name="author" content="SmartTemplates" />
    <meta name="description" content="medikit admin dashboard" />
    <meta name="keywords" content="medical dashboard, HTML UI KIT, medikit" />
    <title>CareLink</title>
    {% block css %}
    <link rel="stylesheet" href="{{asset('css/daterangepicker.css')}}">
    <link rel="stylesheet" href="{{asset('css/select2.css')}}">
    <link rel="stylesheet" href="{{asset('css/ion.rangeSlider.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/dashboard.min.css')}}">
    <link href="{{asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900')}}" rel="stylesheet"> 
   <style>
        /* Custom CSS for table */
        .table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .table th,
        .table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }
        .table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
		 .btn-show,
            .btn-edit,

            .btn-delete {
              display: inline-block;
              padding: 8px 16px;
              border-radius: 4px;
              transition: background-color 0.3s;
              margin-right: 10px; /* Add margin to create space */
            }

            .btn-show {
              background-color: #17a2b8; /* Change to desired color */
              color: #fff;
              text-decoration: none;
            }

           

            .btn-delete {
              background-color: #dc3545; /* Change to desired color */
              color: #fff;
              text-decoration: none;
            }
			.btn-back {
  display: inline-block;
  padding: 8px 16px;
  background-color: #17a2b8; /* Change to desired color */
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-edit {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ffc107; /* Change to desired color */
  color: #212529;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
   
	
  </style>
    {% endblock %}
</head>
<body>
{% block body %}
<div class="dashboard-wrap">
    <header class="sidebar-header">
        <h1 class="sidebar-header__logo">C<span>are<strong>Link</strong></span></h1>
    </header>
    <div class="section section--sidebar" id="sidebar">
	
			<nav class="sidebar-menu"> 
				<ul>
					<li class="components has-submenu open"><a href="#"><b><span >Dashboard</span></b></a>
						<ul class="sidebar-menu__submenu active" style="display:block;">
							<li><a href="{{path('app_patient_list_admin')}}">Listes des patients </a></li>
							<li><a href="{{path('app_fiche_patient_listes_admin')}}">Listes des fiches patients</a></li>
						</ul>
					</li>
				</ul>
			</nav>
	
	</div>
	
	<!-- Section -->
	<div class="section section--content" id="content">
		<header class="content-header">
		
			<div class="sidebar-resize"></div>
			<div class="mobile-menu"><div class="st-burger-icon st-burger-icon--medium"><span></span></div></div>
			
			<div class="content-header__user content-header__dropdown">  
			    <div class="content-header__user-avatar content-header__dropdown-activate" data-dropdown="userdropdown">
					<div class="content-header__user-thumb"><img src="{{asset('public/images/unnamed.jpg')}}" alt="" title=""/></div>
					<span class="content-header__user-name">Firas Ben Kraiem</span>
			    </div>  
				<nav class="dropdown-menu dropdown-menu--header dropdown-menu--user-menu " id="userdropdown"> 	
				<h3 class="dropdown-menu__subtitle">User menu</h3>
				<ul>   
				    <li><a href="#">My profile</a></li>
				    <li><a href="#">Activity</a></li>
				    <li><a href="#">Switch account</a></li>
				    <li><a href="#">Support</a></li>
				    <li class="logout"><a href="#" class="button button--general button--red-border">Logout</a></li>
				</ul>
				</nav>
			</div>
			
			<div class="content-header__notifications content-header__dropdown">  
			    <div class="content-header__notifications-icon content-header__icon content-header__dropdown-activate" data-dropdown="notificationsdropdown">
					<img src="{{asset('images/icons/icons-24-gray/notifications.png')}}" alt="" title=""/>
					<span class="content-header__icon-bubble">6</span>
				</div>  
				<nav class="dropdown-menu dropdown-menu--header dropdown-menu--notifications-menu" id="notificationsdropdown"> 			
				<h3 class="dropdown-menu__subtitle">You have <strong>6</strong> notifications</h3>
				<ul>    
					<li class="d-flex justify-sb"><span class="important">IMPORTANT</span>Michael D. kidney surgery <b class="task-time">today</b></li>
					<li class="d-flex justify-sb"><span class="important">IMPORTANT</span>FLU Alert report generated <b class="task-time">today</b></li>
					
					<li class="d-flex justify-sb"><span>Meeting with <strong>Dr. Joshua</strong> </span> <b class="task-time">tomorrow</b></li>
					<li class="d-flex justify-sb"><span>Remember to create prescriptions for <strong>Alexander P.</strong></span> <b class="task-time">tomorrow</b></li>
					<li class="d-flex justify-sb"><span><strong>Jada Sacks</strong> canceled the appointment at Cardiology, Dr. Michael V. </span> <b class="task-time">24 jan, 19</b></li>
					<li class="d-flex justify-sb"><span>Sarah D. registered as new patient of <strong>Dr. George</strong> at Dermatology </span> <b class="task-time">28 jan, 19</b></li>
					<li class="view-all"><a href="#" class="button button--general button--blue-border">View all</a></li>
				</ul>
				</nav>
			</div>
			
			<div class="content-header__quicklinks content-header__dropdown">  
			        <div class="content-header__quicklinks-icon content-header__icon content-header__dropdown-activate" data-dropdown="quicklinksdropdown">
					<img src="{{asset('images/icons/icons-24-gray/submenu.png')}}" alt="" title=""/>
				</div>  
				<nav class="dropdown-menu dropdown-menu--header dropdown-menu--quicklinks-menu" id="quicklinksdropdown"> 	
				<h3 class="dropdown-menu__subtitle">Quick links</h3>				
				<ul>
				        <li><a href="#">Add new doctor</a></li>
					<li><a href="#">Add new patient</a></li>
					<li><a href="#">Generate reports</a></li>
				</ul>
				</nav>
			</div>
			
			<div class="mobile-submenu"></div>

			<nav class="content-header__menu">       
				<ul>
					<li class="appointment modal-toggle" data-openpopup="appointment"><a href="#">Make an appointment</a></li>
					<li class="prescription modal-toggle" data-openpopup="prescription"><a href="#">Write a prescription</a></li>
					<li class="reports modal-toggle" data-openpopup="reports"><a href="#">Generate report</a></li>
				</ul>
			</nav>
			
		</header>
		<div class="content-subheader">
		
			<div class="content-subheader__titles">
					<h2 class="content-subheader__title">Forms</h2>
					<nav class="content-subheader__breadcrumb-menu">			
							<ul>
								<li><a href="dashboard.html">Dashboard</a></li>
							</ul>
					</nav>
			</div>
			
			<div class="content-subheader__dropdown">
				<span class="content-subheader__more show-more show-more--select show-more--select-gray has-dropdown" data-dropdown="moreoptions">More Options</span>
				<nav class="dropdown-menu dropdown-menu--content dropdown-menu--subheader" id="moreoptions"> 			
					<ul>
						<li><a href="#">More Details</a></li>
						<li><a href="#">View Activity</a></li>
						<li><a href="#">Edit Settings</a></li>
						<li><a href="#">+ Add widget</a></li>
					</ul>
				</nav>
			</div>
			
		</div>
		

		 <div class="grid grid--margin bg-white" align="center">
		 <h1 class="text-center mb-4" style="color: purple;">modifier une fiche patient</h1>
             <form class="col-md-12" method="post" novalidate>  
                  {{ include('admin/dashboard_form.html.twig',{'state': 'update'}) }}
              </form>

			
		</div>

		</div>
 </div> 
 {% block js %}
<script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
<script src="{{asset('js/moment.min.js')}}"></script>
<script src="{{asset('js/select2.min.js')}}"></script>
<script src="{{asset('js/daterangepicker.min.js')}}"></script>
<script src="{{asset('js/ion.rangeSlider.min.js')}}"></script>
<script src="{{asset('js/jquery.dashboard-custom.js')}}"></script>
{% endblock %}
{% endblock %}
</body>

<!-- Mirrored from smarttemplates.net/medikit/dashboard__forms.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Apr 2019 00:52:38 GMT -->
</html>